doctype 5
html(lang='es')
  head
    style(type='text/css').
      .container{
        display: flex; width: 100%; justify-content: center; margin-top: 40px;
      }
      .text{
        font-size: 40 px; color: #444;
      }
  body
    div(class='container')
      p(class='text') El fibonacci del numero #{number} es #{result}
